{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nákupní seznam</title>
    <link rel="stylesheet" href="{% static 'shopping_list/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="header">
        <h1>Můj nákupní seznam</h1>
        <p class="subtitle">Zadejte položky, kliknutím je označíte jako hotové. Kliknutím na smažete položku nebo celý seznam.</p>

        <form action="{% url 'add' %}" method="POST" class="form">
            {% csrf_token %}
            {{ form.text }}
        </form>
    </div>

    <ul id="myUL" class="todo-list">
        {% for item in list %}
        {% if item.complete %}
        <li class="checked">
            {{ item.text }}
            <a href="{% url 'deleteitem' item.id %}" class="close">❌</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'complete' item.id %}">{{ item.text }}</a>
            <a href="{% url 'deleteitem' item.id %}" class="close">❌</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <a href="{% url 'deleteall' %}" class="clearlist"> Vymazat seznam</a>
</div>

</body>
</html>
